.bg-white {
  background-color: white;
}

.bg-light-gray {
  background-color: #f0efef;
}

.bg-dark-gray {
  background-color: #606161;
}

.bg-dark-blue {
  background-color: #033048;
}

.bg-yellow {
  background-color: #f9e42e;
}

.text-dark-gray {
  color: #606161;
}

.text-white {
  color: #FFFFFF;
}

.text-dark-blue {
  color: #033048;
}

.text-yellow {
  color: #f9e42e;
}

.text-red {
  color: red;
}

footer {
  padding: 50px;
}

nav a {
  color: inherit;
}

footer img {
  padding: 50px;
}

input {
  width: 200px;
  height: 50px;
}

.photos {
  width: 750px;
  padding-top: 200px;
}
.Final_Project-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.Final_Project-container {
  width: 750px;
}
.indicators {
  margin: 20px;
  width: 20px;
  height: 20px;
  background-color: grey;
}
.indicators-container {
  display: flex;
  justify-content: center;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
#carouselExampleIndicators {
  margin-top: 100px;
  width: 550px;
  display: block;
  margin: 0 auto;
}
#Italy {
  height: 412.5px;
  background-size: contain;
}
#Navigator a {
  padding: 100px;
  text-align: center;
}
hr {
  border-color: yellow;
}
#Navigator {
  margin: 0 auto;
  width: 75%;
}
#Julian {
  text-align: center;
}
#Vegas {
  height: 412.5px;
  background-size: contain;
}
#Tahoe {
  height: 412.5px;
  background-size: contain;
}
.carousel-item {
  width: 550px;
  height: 600px;
}
.carousel-item img {
  object-fit: cover;
  height: 100%;
}
